<div ng-show="currentUser.role === 'admin'">
    <div style="float: left">
        <h2>Mistral Employee List</h2>
    </div>
    <div class="add-employee-wrapper">
        <a href="#/employee/0"><ion-icon name="person-add"></ion-icon></a>
    </div>
    <br>
    <ul class="employee-wrapper">
        <li ng-repeat="emp in emps" class="employee-list">
            {{emp.name}}
            <span class="icon-wrapper">
                <a href="#/employee/{{emp.id}}"><ion-icon name="create"></ion-icon></a>
                <a href=""><ion-icon name="trash" ng-click="delEmp(emp)"></ion-icon></a>
            </span>
        </li>
    </ul>
</div>
